[Unit]
Description=Raspberry Pi 5 Fan Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/fan_control.py --config /etc/fan_control/fan_config.ini
Restart=always
User=root

[Install]
WantedBy=multi-user.target